# Enviromental variables
export _JAVA_AWT_WM_NONREPARENTING=1
export AWT_TOOLKIT=MToolkit

export GTK_ICON_THEME=Raleigh-Dark
export QT_QPA_PLATFORMTHEME=gtk2

#applications
export EDITOR=nvim

export TERM=alacritty
export TERMINAL=alacritty

export BROWSER=floorp

export FILEMANAGER=pcmanfm

export MUSIC_PLAYER=strawberry
